---
import clsx from 'clsx'

const { href, text } = Astro.props as { href: string; text: string }

const isActive = Astro.url.href.includes(href)
---

<a
  class={clsx(
    'block rounded-base p-2 mb-0.5 last:mb-0 text-lightModeText/80 transition-colors hover:bg-black/10 dark:text-darkModeText/80 hover:dark:bg-white/10',
    isActive && 'bg-black/10 dark:bg-white/10 font-medium',
  )}
  href={`${Astro.url.origin}/${href}`}
>
  <span class="block w-full overflow-hidden overflow-ellipsis whitespace-nowrap"
    >{text}</span
  >
</a>
