---
import HeadSeo from '@/components/HeadSeo.astro'
import Nav from '@/components/navigation/Nav.astro'
import { ViewTransitions } from 'astro:transitions'
import { type Frontmatter } from '@/types'

// font
import '@fontsource/karla/400.css'
import '@fontsource/karla/500.css'
import '@fontsource/karla/700.css'

// custom styling
import '@/styling/scrollbar.css'
import '@/styling/code.css'

const { frontmatter } = Astro.props as {
  frontmatter?: Frontmatter
}
---

<style is:global>
  body {
    font-family: 'Karla', sans-serif;
  }
</style>

<html data-theme="github-light">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <HeadSeo type="website" frontmatter={frontmatter} />
  </head>
  <body class="text-lightModeText dark:text-darkModeText">
    <Nav />
    <div
      class="fixed left-0 top-0 z-[-2] h-screen w-full bg-lightModeBg bg-lightModeGradient transition-colors duration-[inherit] dark:bg-darkModeBg dark:bg-darkModeGradient"
    >
    </div>
    <div class="pt-20">
      <slot />
    </div>
  </body>
</html>

<script>
  import {
    LIGHT_MODE_CODE_BLOCK_THEME,
    DARK_MODE_CODE_BLOCK_THEME,
  } from '@/config'

  function init() {
    document.documentElement.classList.add('scroll-smooth')
    // adding scroll-smooth class to html tag manually didn't work so I'm adding that class this way

    if (
      localStorage.theme === 'dark' ||
      (!('theme' in localStorage) &&
        window.matchMedia('(prefers-color-scheme: dark)').matches)
    ) {
      document.documentElement.classList.add('dark')
      document.documentElement.setAttribute(
        'data-theme',
        DARK_MODE_CODE_BLOCK_THEME as string,
      )
    } else {
      document.documentElement.classList.remove('dark')
      document.documentElement.setAttribute(
        'data-theme',
        LIGHT_MODE_CODE_BLOCK_THEME as string,
      )
    }

    setTimeout(() => {
      document.body.classList.add('duration-300', 'transition-colors')
    }, 300)

    // im adding those classes with 300ms delay, so theres no flashing on inital page load
  }

  init()
  document.addEventListener('astro:after-swap', init)
</script>
