---
import HeadSeo from '@/components/HeadSeo.astro'
import Nav from '@/components/Nav.astro'
import { ViewTransitions } from 'astro:transitions'

import '@fontsource/karla/400.css'
import '@fontsource/karla/500.css'
import '@fontsource/karla/700.css'
---

<style is:global>
  body {
    font-family: 'Karla', sans-serif;
  }
</style>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <HeadSeo type="website" />
  </head>
  <body class="text-black dark:text-white">
    <Nav />
    <div
      class="fixed left-0 top-0 z-[-2] h-screen w-full bg-neutral-100 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.5),rgba(0,0,0,0))] transition-colors duration-[inherit] dark:bg-neutral-950 dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <div class="pt-20">
      <slot />
    </div>
  </body>
</html>

<script>
  function init() {
    if (
      localStorage.theme === 'dark' ||
      (!('theme' in localStorage) &&
        window.matchMedia('(prefers-color-scheme: dark)').matches)
    ) {
      document.documentElement.classList.add('dark')
    } else {
      document.documentElement.classList.remove('dark')
    }

    setTimeout(() => {
      document.body.classList.add('duration-300', 'transition-colors')
    }, 300)

    // im adding those classes with 300ms delay, so theres no flashing on inital page load
  }

  init()
  document.addEventListener('astro:after-swap', init)
</script>
