---
import HeadSeo from '../components/HeadSeo.astro'

import '@fontsource/karla/400.css'
import '@fontsource/karla/500.css'
import '@fontsource/karla/700.css'
---

<style is:global>
  body {
    font-family: 'Karla', sans-serif;
  }
</style>

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <HeadSeo type="website" />
  </head>
  <body>
    <slot />
  </body>
</html>
